p {
  font-family: quicksand;
}

li {
  font-family: quicksand;
}

.recipe-paper {
  max-width: 800px;
  padding: 20px;
  margin: 20px;
}

.recipe-sub-section {
  padding-top: 10px;
}

.recipe-img {
  width: 100%;
}

.recipe-header {
  margin-bottom: 20px;
  font-family: montserrat;
  font-size: 25px;
  font-weight: 600;
}

.recipe-sub-header {
  margin-bottom: 20px;
  font-family: montserrat;
  font-size: 20px;
  font-weight: 600;
}